* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

body {
  max-width: 1921px;
  font-family: sans-serif;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

section {
  padding-top: 140px;
}

.your_work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #043873;
  height: 574px;
  position: relative;
}
.your_work h2 {
  color: #FFFFFF;
  white-space: nowrap;
}
.your_work img {
  position: absolute;
  width: 38%;
  top: -181px;
  left: -111px;
}

.your_work_text {
  text-align: center;
}
.your_work_text .text {
  padding: 20px 0px;
  font-size: 18px;
  color: #FFFFFF;
  align-self: stretch;
}

.btn {
  background-color: #4F9CF9;
  width: 195px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
}
.btn:hover {
  opacity: 0.7;
}
.btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn_read {
  background-color: #4F9CF9;
  width: 197px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  text-align: center;
}
.btn_read:hover {
  opacity: 0.7;
}
.btn_read a {
  color: #FFFFFF;
  text-decoration: none;
}

.underline {
  position: relative;
}
.underline::before {
  content: "";
  background-image: url(../../img/yellowline.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
  top: 65px;
  width: 50%;
  height: 60%;
  background-repeat: no-repeat;
  right: 80px;
}

.your_date {
  display: flex;
  align-items: center;
  height: 661px;
}
.your_date .your_date_textbox .img_wrappe {
  width: 100%;
}
.your_date .yourdate {
  font-size: 72px;
  position: relative;
}
.your_date .yourdate::before {
  content: "";
  background-image: url(../../img/yellowline.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
  top: 65px;
  width: 50%;
  height: 60%;
  background-repeat: no-repeat;
  right: 80px;
}
.your_date p {
  font-size: 18px;
}

.Oursponsors {
  height: 538px;
  text-align: center;
}
.Oursponsors .sponsor {
  position: relative;
}
.Oursponsors .sponsor::before {
  content: "";
  background-image: url(../../img/yellowline.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
  top: 65px;
  width: 50%;
  height: 60%;
  background-repeat: no-repeat;
  right: 80px;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.apps {
  background-color: #043873;
  height: 750px;
}
.apps .apps_using {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 750px;
}
.apps .apps_using .img_wrappe {
  width: 100%;
}
.apps .apps_textbox h2,
.apps .apps_textbox p {
  color: #FFFFFF;
}

.clients_says h2 {
  text-align: center;
}
.clients_says ul {
  display: flex;
  justify-content: space-between;
}
.clients_says ul li {
  background-color: #4F9CF9;
}

.trywhite {
  background-color: #043873;
}
.trywhite .trywhite_text {
  text-align: center;
}
.trywhite .trywhite_text h2 {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: 700;
}
.trywhite .trywhite_text p {
  font-size: 24px;
  color: #FFFFFF;
}
.trywhite .trywhite_text img {
  gap: 40px;
}
.trywhite .appicon {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.content_footer {
  display: flex;
  margin-top: 140px;
  gap: 100px;
}
.content_footer h4 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
.content_footer p,
.content_footer li {
  font-size: 16px;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 30px;
}
.footer ul {
  display: flex;
}
.footer li {
  font-size: 16px;
  color: #FFFFFF;
}/*# sourceMappingURL=akari.css.map */