* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1921px;
  font-family: sans-serif;
  margin: 0 auto;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

.blue h2 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
}

h2 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
}

section {
  padding: 140px 0px 140px;
}
section:nth-of-type(6) {
  padding-bottom: 32px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

i {
  color: #FFFFFF;
}

.your-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #043873;
  height: 574px;
  position: relative;
}
.your-work img {
  position: absolute;
  width: 38%;
  left: -111px;
  top: -170px;
}

.your-work-text {
  text-align: center;
  gap: 60px;
  display: flex;
  flex-direction: column;
}
.your-work-text .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.your-work-text .text {
  font-size: 18px;
  color: #FFFFFF;
  align-self: stretch;
}

.btn {
  background-color: #4F9CF9;
  width: 195px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
}
.btn:hover {
  opacity: 0.7;
}

.btn-read {
  background-color: #4F9CF9;
  width: 197px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  text-align: center;
}
.btn-read:hover {
  opacity: 0.7;
}

.your-date {
  display: flex;
  align-items: center;
  height: 661px;
}
.your-date h2 {
  line-height: 87px;
  white-space: nowrap;
}
.your-date .your-date-textbox {
  width: 50%;
  background-image: url(../../img/yellowline.png);
  background-position: 0% 30%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.your-date .your-date-textbox .img-wrappe {
  width: 50%;
}

p {
  font-size: 18px;
}

.Oursponsors {
  height: 538px;
  text-align: center;
}
.Oursponsors .underline {
  position: relative;
}
.Oursponsors .underline::before {
  content: "";
  background-image: url(../../img/yellowline.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
  top: 65px;
  width: 50%;
  height: 60%;
  background-repeat: no-repeat;
  right: 80px;
}
.Oursponsors ul {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.apps {
  background-color: #043873;
  background-image: url(../../img/Element.back.png);
  background-repeat: no-repeat;
  background-position: 19% 50%;
}
.apps .apps-using {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
.apps .apps-using .img-wrappe {
  width: 50%;
  height: 470px;
}
.apps .apps-textbox {
  width: 50%;
  height: 470px;
}
.apps .apps-textbox p {
  color: #FFFFFF;
  letter-spacing: -0.02em;
  padding: 24px 0 60px;
}

.clients-says {
  background-image: url(../../img/yellowline.png);
  background-position: 88% 18%;
  background-repeat: no-repeat;
  background-size: 19%;
}
.clients-says h2 {
  text-align: center;
  line-height: 1;
}
.clients-says .clients-card {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 60px 0 60px;
}
.clients-says .clients-card .box {
  background-color: #4F9CF9;
  padding: 60px 40px;
  border-radius: 10px;
  gap: 32px;
  color: #FFFFFF;
}
.clients-says .clients-card .box .hitoname h3 {
  color: #043873;
}
.clients-says .clients-card .box:nth-of-type(1) {
  color: black;
  background-color: #FFFFFF;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}
.clients-says .clients-card .box:nth-of-type(1) h3 {
  color: black;
}
.clients-says .clients-card .box:nth-of-type(1) .hitoue {
  border-bottom: 1px solid black;
}
.clients-says .clients-card .hitoue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  gap: 32px;
  border-bottom: 1px solid #FFFFFF;
}
.clients-says .clients-card .hitocard {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.clients-says .clients-card .hitocard .hitoname h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.trywhite {
  background-color: #043873;
}
.trywhite .trywhite-text {
  text-align: center;
  gap: 40px;
  display: grid;
  padding-bottom: 140px;
}
.trywhite .trywhite-text .iconimg {
  gap: 40px;
  display: flex;
  justify-content: center;
}
.trywhite .trywhite-text p {
  font-size: 24px;
  color: #FFFFFF;
}
.trywhite .trywhite-text img {
  gap: 40px;
}
.trywhite .appicon {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.content-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 100px;
  gap: 100px;
}
.content-footer .contentbox {
  display: grid;
  gap: 15px;
}
.content-footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content-footer h4 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
.content-footer p,
.content-footer li {
  font-size: 16px;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer ul {
  display: flex;
  gap: 60px;
}
.footer li {
  font-size: 16px;
  color: #FFFFFF;
}
.footer .icons {
  gap: 32px;
  display: flex;
}/*# sourceMappingURL=akari.css.map */