@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1921px;
  font-family: sans-serif;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

section {
  padding: 140px 0px 140px;
}
section:nth-of-type(10) {
  padding-bottom: 32px;
}

/* // ===== ヘッダー ===== */
.header,
.header-list,
.header-right ul,
.header-right,
.header-btn {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header {
  margin: 0 auto;
  height: 92px;
  color: #FFFFFF;
  background-color: #043873;
}
.header .header-list {
  margin-top: 16px;
  margin-bottom: 16px;
}
.header .header-left img {
  margin: 29px 0 29px;
}
.header .header-right {
  margin: 16px 0px;
}
.header .header-right .header-text {
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 32px;
}
.header .header-right .header-right i {
  margin-left: 10px;
}

/* // === ヘッダーボタン === */
.header-btn {
  display: flex;
  justify-content: space-between;
}
.header-btn .login-btn {
  color: #043873;
  background-color: #FFE492;
  border: none;
  padding: 0px;
  border-radius: 8px;
  margin-left: 60px;
  padding: 16px 40px;
  font-size: 18px;
}
.header-btn .login-btn a {
  color: #043873;
}
.header-btn .tryWhitepace-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #4F9CF9;
  border: none;
  padding: 16px 40px;
  border-radius: 8px;
  margin-left: 24px;
  font-size: 18px;
}
.header-btn .tryWhitepace-btn a {
  color: #FFFFFF;
}

/* ===== メイン ===== */
.get-more-done,
.project-management,
.use-as-extension {
  display: flex;
  justify-content: center;
  text-align: center;
}

.work-together,
.your-needs {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.get_more,
.project,
.extension,
.needs {
  padding: 140px 0 140px;
}

.get-more-done,
.project-management,
.work-together,
.use-as-extension,
.your-needs {
  align-items: center;
}

.get-more-done-text h2,
.use-as-extension-text h2 {
  color: #FFFFFF;
}

/* ===== get more done ===== */
.get_more {
  background-image: url(/yuka.img/Element.png);
  background-repeat: no-repeat;
  background-position: 0% 65%;
  background-color: #043873;
}
.get_more .get-more-done-text {
  text-align: left;
}
.get_more .get-more-done-text h2 {
  font-size: 64px;
}
.get_more .get-more-done-text p {
  color: #FFFFFF;
  margin-top: 24px;
  font-size: 18px;
}
.get_more .get-more-done-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 60px;
}
.get_more .get-more-done-btn a,
.get_more .get-more-done-btn i {
  color: #FFFFFF;
}
.get_more .get-more-done-btn i {
  margin-left: 10px;
}

/* ===== project-management ===== */
.project {
  background-color: white;
  background-image: url(/yuka.img/BACKGROUND.png);
  background-repeat: no-repeat;
  background-position: 0% 24%;
}
.project .project-management-text {
  text-align: left;
  margin-right: 60px;
}
.project .project-management-text h2 {
  font-size: 72px;
}
.project .project-management-text p {
  font-size: 18px;
  margin-top: 24px;
}
.project .project-management-text .project-management-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}
.project .project-management-text .project-management-btn a,
.project .project-management-text .project-management-btn i {
  color: #FFFFFF;
}
.project .project-management-text .project-management-btn i {
  margin-left: 10px;
}
.project .project-management-text .project-management-img {
  width: 748px;
  height: 547px;
}

/* === work together ===*/
.work-together {
  margin-top: 100px;
}
.work-together .work-together-text {
  text-align: left;
  margin-left: 100px;
}
.work-together .work-together-text .work-together-text h2 {
  font-size: 72px;
}
.work-together .work-together-text .work-together-text h2 p {
  font-size: 18px;
  margin-top: 24px;
}
.work-together .work-together-text .work-together-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}
.work-together .work-together-text .work-together-btn a,
.work-together .work-together-text .work-together-btn i {
  color: #FFFFFF;
}
.work-together .work-together-text .work-together-btn i {
  margin-left: 10px;
}

.work-together-img {
  width: 710px;
  height: 661px;
}

/* ===== use as extension ===== */
.extension {
  background-color: #043873;
}
.extension .use-as-extension-text {
  text-align: left;
  margin-right: 98px;
}
.extension .use-as-extension-text h2 {
  font-size: 72px;
}
.extension .use-as-extension-text p {
  font-size: 18px;
  margin-top: 24px;
  color: #FFFFFF;
}
.extension .use-as-extension-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}
.extension .use-as-extension-btn a,
.extension .use-as-extension-btn i {
  color: #FFFFFF;
}
.extension .use-as-extension-btn i {
  margin-left: 10px;
}
.extension .use-as-extension-img {
  width: 686px;
  height: 479px;
  background-color: #C4DEFD;
}

/* ===== Customise it to your needs ===== */
.needs {
  background-color: white;
}
.needs .your-needs-text {
  text-align: left;
  margin-left: 98px;
}
.needs .your-needs-text h2 {
  font-size: 72px;
}
.needs .your-needs-text p {
  font-size: 18px;
  margin-top: 24px;
}
.needs .your-needs-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 60px;
}
.needs .your-needs-btn a,
.needs .your-needs-btn i {
  color: #FFFFFF;
}
.needs .your-needs-btn i {
  margin-left: 10px;
}
.needs .your-needs-img {
  width: 806px;
  height: 535px;
  background-color: #C4DEFD;
}

/* ===== Choose Your Plan ===== */
.your-plan {
  padding-top: 140px;
}

.your-plan-text {
  text-align: center;
}
.your-plan-text h2 {
  font-size: 72px;
}
.your-plan-text p {
  font-size: 18px;
  margin-top: 24px;
}

/* == box1 == */
.your-plan-box {
  display: flex;
  margin-top: 60px;
}
.your-plan-box .plan-box1,
.your-plan-box .plan-box3 {
  border: solid 1px #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
  margin: 63.5px 0 63.5px;
}
.your-plan-box .plan-box1 h3,
.your-plan-box .plan-box3 h3 {
  font-size: 36px;
  margin: 25px 0 25px;
}
.your-plan-box img {
  align-self: flex-start;
}
.your-plan-box li p {
  margin-left: 19px;
}
.your-plan-box li {
  display: flex;
  margin-top: 28px;
}
.your-plan-box .your-plan-btn1,
.your-plan-box .your-plan-btn3 {
  background-color: #FFFFFF;
  border: solid 1px #FFE492;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 25px;
}
.your-plan-box .your-plan-btn1 a,
.your-plan-box .your-plan-btn3 a {
  color: #212529;
}

/* == box2 == */
.plan-box2 {
  background-color: #043873;
  border: solid 1px #043873;
  border-radius: 10px;
  padding: 80px 44px;
  color: #FFFFFF;
}
.plan-box2 h3 {
  font-size: 36px;
  margin: 25px 0 25px;
  color: #FFE492;
}
.plan-box2 .your-plan-btn2 {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 25px;
}
.plan-box2 .your-plan-btn2 a {
  color: #FFE492;
}

.your-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #043873;
  height: 574px;
  position: relative;
}
.your-work img {
  position: absolute;
  width: 38%;
  left: -111px;
  top: -170px;
}

.your-work-text {
  text-align: center;
}
.your-work-text .text {
  padding: 20px 0px;
  font-size: 18px;
  color: #FFFFFF;
  align-self: stretch;
}

.btn {
  background-color: #4F9CF9;
  width: 195px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
}
.btn:hover {
  opacity: 0.7;
}
.btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-read {
  background-color: #4F9CF9;
  width: 197px;
  height: 63px;
  line-height: 63px;
  border-radius: 8px;
  text-align: center;
}
.btn-read:hover {
  opacity: 0.7;
}
.btn-read a {
  color: #FFFFFF;
  text-decoration: none;
}

.your-date {
  display: flex;
  align-items: center;
  height: 661px;
}
.your-date h2 {
  line-height: 87px;
  white-space: nowrap;
}
.your-date .your-date-textbox {
  width: 50%;
  background-image: url(../../img/yellowline.png);
  background-position: 0% 30%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.your-date .your-date-textbox .img-wrappe {
  width: 50%;
}

p {
  font-size: 18px;
}

.Oursponsors {
  height: 538px;
  text-align: center;
}
.Oursponsors .underline {
  position: relative;
}
.Oursponsors .underline::before {
  content: "";
  background-image: url(../../img/yellowline.png);
  background-size: contain;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
  top: 65px;
  width: 50%;
  height: 60%;
  background-repeat: no-repeat;
  right: 80px;
}
.Oursponsors ul {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.apps {
  background-color: #043873;
  background-image: url(../../img/Element.back.png);
  background-repeat: no-repeat;
  background-position: 19% 50%;
}
.apps .apps-using {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
.apps .apps-using .img-wrappe {
  width: 50%;
  height: 470px;
}
.apps .apps-textbox {
  width: 50%;
  height: 470px;
}
.apps .apps-textbox h2,
.apps .apps-textbox p {
  color: #FFFFFF;
  letter-spacing: -0.02em;
}

.clients-says {
  background-image: url(../../img/yellowline.png);
  background-position: 88% 18%;
  background-repeat: no-repeat;
  background-size: 19%;
}
.clients-says h2 {
  text-align: center;
  line-height: 1;
}
.clients-says .clients-card {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 60px 0 60px;
}
.clients-says .clients-card .box {
  background-color: #4F9CF9;
  padding: 60px 40px;
  border-radius: 10px;
  gap: 32px;
  color: #FFFFFF;
}
.clients-says .clients-card .box .hitoname h3 {
  color: #043873;
}
.clients-says .clients-card .box:nth-of-type(1) {
  color: black;
  background-color: #FFFFFF;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}
.clients-says .clients-card .box:nth-of-type(1) h3 {
  color: black;
}
.clients-says .clients-card .box:nth-of-type(1) .hitoue {
  border-bottom: 1px solid black;
}
.clients-says .clients-card .hitoue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  gap: 32px;
  border-bottom: 1px solid #FFFFFF;
}
.clients-says .clients-card .hitocard {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.clients-says .clients-card .hitocard .hitoname h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.trywhite {
  background-color: #043873;
}
.trywhite .trywhite-text {
  text-align: center;
  gap: 40px;
  display: grid;
  padding-bottom: 140px;
}
.trywhite .trywhite-text .iconimg {
  gap: 40px;
  display: flex;
  justify-content: center;
}
.trywhite .trywhite-text h2 {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}
.trywhite .trywhite-text p {
  font-size: 24px;
  color: #FFFFFF;
}
.trywhite .trywhite-text img {
  gap: 40px;
}
.trywhite .appicon {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.content-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
}
.content-footer .contentbox ul {
  display: flex;
  flex-direction: column;
}
.content-footer h4 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
.content-footer p,
.content-footer li {
  font-size: 16px;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer ul {
  display: flex;
  gap: 60px;
}
.footer li {
  font-size: 16px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */