@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1921px;
  font-family: sans-serif;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: -0.02em;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

/* // ===== ヘッダー ===== */
.header,
.header-list,
.header-right ul,
.header-right,
.header-btn {
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 0 auto;
  height: 92px;
  align-items: center;
  color: #FFFFFF;
  background-color: #043873;
}
.header .header-text {
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 32px;
}
.header .header-right ul {
  margin: 16px 0px;
}
.header .header-right i {
  margin-left: 10px;
}

/* // === ヘッダーボタン === */
.header-btn {
  display: flex;
  justify-content: space-between;
}
.header-btn .login-btn {
  color: #043873;
  background-color: #FFE492;
  border: none;
  padding: 0px;
  border-radius: 8px;
  margin-left: 60px;
  padding: 16px 40px;
  font-size: 18px;
}
.header-btn .login-btn a {
  color: #043873;
}
.header-btn .tryWhitepace-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #4F9CF9;
  border: none;
  padding: 16px 40px;
  border-radius: 8px;
  margin-left: 24px;
  font-size: 18px;
}
.header-btn .tryWhitepace-btn a {
  color: #FFFFFF;
}

/* ===== メイン ===== */
.get-more-done,
.project-management,
.use-as-extension {
  display: flex;
  justify-content: center;
  text-align: center;
}

.work-together,
.your-needs {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.get_more,
.project,
.extension,
.needs,
.your-plan {
  padding: 140px 0 140px;
}

.get-more-done,
.project-management,
.work-together,
.use-as-extension,
.your-needs {
  align-items: center;
}

/* ===== get more done ===== */
.get_more {
  background-image: url(/yuka.img/Element.png);
  background-repeat: no-repeat;
  position: relative;
  background-color: #043873;
}
.get_more .get-more-done-text {
  text-align: left;
}
.get_more .get-more-done-text h2 {
  font-size: 64px;
}
.get_more .get-more-done-text p {
  color: #FFFFFF;
  margin-top: 24px;
  font-size: 18px;
}
.get_more .get-more-done-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 60px;
}
.get_more .get-more-done-btn a,
.get_more .get-more-done-btn i {
  color: #FFFFFF;
}
.get_more .get-more-done-btn i {
  margin-left: 10px;
}

/* ===== project-management ===== */
.project {
  background-color: white;
  background-image: url(/yuka.img/BACKGROUND.png);
  background-repeat: no-repeat;
  position: relative;
}
.project .project-management-text {
  text-align: left;
}
.project .project-management-text h2 {
  font-size: 72px;
}
.project .project-management-text p {
  font-size: 18px;
  margin-top: 24px;
}
.project .project-management-text .project-management-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}
.project .project-management-text .project-management-btn a,
.project .project-management-text .project-management-btn i {
  color: #FFFFFF;
}
.project .project-management-text .project-management-btn i {
  margin-left: 10px;
}
.project .project-management-text .project-management-img {
  width: 748px;
  height: 547px;
}

/* === work together ===*/
.work-together-text {
  text-align: left;
  margin-left: 100px;
}
.work-together-text .work-together-text h2 {
  font-size: 72px;
}
.work-together-text .work-together-text h2 p {
  font-size: 18px;
  margin-top: 24px;
}
.work-together-text .work-together-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}
.work-together-text .work-together-btn a,
.work-together-text .work-together-btn i {
  color: #FFFFFF;
}
.work-together-text .work-together-btn i {
  margin-left: 10px;
}

.work-together-img {
  width: 710px;
  height: 661px;
}

/* === use as extension === */
.extension {
  background-color: #043873;
}

.use-as-extension-text {
  text-align: left;
}

.use-as-extension-text h2 {
  font-size: 72px;
  color: #FFFFFF;
}

.use-as-extension-text p {
  font-size: 18px;
  margin-top: 24px;
  color: #FFFFFF;
}

.use-as-extension-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 60px;
}

.use-as-extension-btn a,
.use-as-extension-btn i {
  color: #FFFFFF;
}

.use-as-extension-btn i {
  margin-left: 10px;
}

.use-as-extension-img {
  width: 686px;
  height: 479px;
  background-color: #C4DEFD;
}

/* === Customise it to your needs === */
.needs {
  background-color: white;
}

.your-needs-text {
  text-align: left;
  margin-left: 98px;
}

.your-needs-text h2 {
  font-size: 72px;
}

.your-needs-text p {
  font-size: 18px;
  margin-top: 24px;
}

.your-needs-btn {
  background-color: #4F9CF9;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 60px;
}

.your-needs-btn a,
.your-needs-btn i {
  color: #FFFFFF;
}

.your-needs-btn i {
  margin-left: 10px;
}

.your-needs-img {
  width: 806px;
  height: 535px;
  background-color: #C4DEFD;
}

/* === Choose Your Plan === */
/* == box1 == */
.your-plan-text {
  text-align: center;
}

.your-plan-text h2 {
  font-size: 72px;
}

.your-plan-text p {
  font-size: 18px;
  margin-top: 24px;
}

.your-plan-box {
  display: flex;
  margin-top: 60px;
}

.plan-box1 {
  border: solid 1px #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
}

.plan-box1 h3,
.plan-box1 p {
  margin-top: 25px;
}

.your-plan img {
  margin-top: 28px;
}

.plan-box1 p {
  margin-left: 19px;
}

.your-plan-box li {
  display: flex;
}

.your-plan-btn1 {
  background-color: #FFFFFF;
  border: solid 1px #FFE492;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 41px;
}

.your-plan-btn1 a {
  color: #212529;
}

/* == box2 == */
.plan-box2 {
  background-color: #043873;
}

.your-plan-text {
  text-align: center;
}

.your-plan-text h2 {
  font-size: 72px;
}

.your-plan-text p {
  font-size: 18px;
  margin-top: 24px;
}

.your-plan-box {
  display: flex;
  margin-top: 60px;
}

.plan-box2 {
  background-color: #043873;
  border: solid 1px #043873;
  border-radius: 10px;
  padding: 80px 44px;
}

.plan-box2 h3,
.plan-box2 p {
  margin-top: 25px;
}

.your-plan img {
  margin-top: 28px;
}

.plan-box2 p {
  margin-left: 19px;
}

.your-plan-box li {
  display: flex;
}

.your-plan-btn2 {
  background-color: #043873;
  border: solid 1px #FFE492;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 41px;
}

.your-plan-btn2 a {
  color: #212529;
}

/* == box3 == */
.your-plan-text {
  text-align: center;
}

.your-plan-text h2 {
  font-size: 72px;
}

.your-plan-text p {
  font-size: 18px;
  margin-top: 24px;
}

.your-plan-box {
  display: flex;
  margin-top: 60px;
}

.plan-box3 {
  border: solid 1px #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
}

.plan-box3 h3,
.plan-box3 p {
  margin-top: 25px;
}

.your-plan img {
  margin-top: 28px;
}

.plan-box3 p {
  margin-left: 19px;
}

.your-plan-box li {
  display: flex;
}

.your-plan-btn3 {
  background-color: #FFFFFF;
  border: solid 1px #FFE492;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 41px;
}

.your-plan-btn3 a {
  color: #212529;
}

/*# sourceMappingURL=yuka.css.map *//*# sourceMappingURL=yuka.css.map */